.sidebar {  
  width: 80px;
  height: calc(100% - 40px); 
  background-color: #fff;
  color: #333;
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;  
  &-header {
    border: 1px dashed orange;
    display: flex;
    align-items: flex-end;
    
    span {   
      margin-left: 5px;
      border: 1px dashed blue;      
      // margin-bottom: 10px;    
    }
    img {   
      border: 1px dashed green; 
      width: 50px;
      height: auto;
      // margin-bottom: 10px;    
    }
    button {
      position: fixed;
      margin-left: 100px;
      background: white;
      border: none;
      z-index: 100;      
      font-size: 20px;
      cursor: pointer;
      outline: none;      
      border-radius: 50%;

      svg {
        color: rgb(54, 54, 54); /* Устанавливаем желаемый цвет для иконки */
      }
    }
  }
}

.sidebar.opened { 
  width: 20vw;
  button {
    background-color: rgb(221, 216, 216);
    margin-right: -7%;
    position: relative;
    margin-left: auto;    
  
  }
}

.sidebar>div {
  padding: 10px;
  text-align: center;
}

.sidebar-header {
  display: flex; 
}

.sidebar button:hover {
  color: #555;
}

.sidebar div>div {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar div>div:hover {
  background-color: #f0f0f0;
}

.bottom-routes {
  position: absolute;
  bottom: 0;
  left: 0;
}
