.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  min-height: calc(100% - 60px);
  background-color: #fff;
  color: #333;
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;



  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



.sidebar>div {
  // border: 2px dashed rgb(177, 10, 143);
  padding: 10px;
}

.sidebar button:hover {
  color: #555;
}

.sidebar div>div {
  // border: 1px solid rgb(28, 165, 39);
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar div>div:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.sidebar-header {
  display: flex;
  align-items: flex-end;

  span {
    margin-left: 5px;
    margin-right: auto;
  }

  img {
    width: 50px;
    height: auto;
  }

  button {
    position: fixed;
    margin-left: 100px;
    background: white;
    border: none;
    z-index: 100;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;

    svg {
      color: rgb(54, 54, 54);
    }
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  bottom: 0;
  align-items: center;
}

.item {
  span {
    margin-left: 10px;
  }
}

.active {
  background-color: #f0f0f0;
  border-radius: 10px;
  color: blue;
}

.sidebar.opened {
  width: 20vw;
  display: flex;
  flex-direction: column;

  @media (max-width: 560px) {
    width: 50vw;
  }



  button {
    background-color: rgb(221, 216, 216);
    margin-right: -7%;
    position: relative;
    margin-left: auto;
  }

  .sidebar-nav {
    align-items: flex-start;
  }

  .sidebar-footer {
    align-items: flex-start;
  }

  .item {
    display: block;
  }
}